.view-schedule-date {
width: 90%;
padding-left: 16px;
}
.view-field-field-home-team-nid {
}
td.view-data-field-home-team-nid, td.view-label-field-home-team-nid {
width: 130px;
}
.view-field-field-visiting-team-nid {
}
td.view-data-field-visiting-team-nid, td.view-label-field-visiting-team-nid {
width: 130px;
}
.view-field-field-date-value {
}
td.view-data-field-date-value, td.view-label-field-date-value {
width: 170px;
}

tr.view-schedule-tr{
height: 20px;
padding: 0px;
}

